*
{
  // background-image: url('/img/background.jpg');
  padding: 0;
  margin: 0;
  background-size: cover;
}

.loginform{
  margin-top: 100px;
  margin-left: 500px;
  margin-right: 500px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: 500px;
}
